<%= stylesheet_link_tag 'show' %>
<div class="user">
    <%= @user.first_name%> <%= @user.last_name%>
    <%= link_to "New account", new_user_account_path(@user)%>
</div>
</br>
</br>
<div class="row">
    <div class="col-1"></div>
    <div class="col-4">
        <div class ="card" style="widith: 18rem;">
            <div class="card-title">
                <h4>Accounts</h4>
            </div>
            <% @accounts.each do |account| %>
            <div class="card-body">
                <h5> <%= account.account_name%>
                <h5> Balance: £<%= account.balance %> </h5>
                <h5> Account No: <%= account.account_no %> </h5>
            </div>
            <% end %>
        </div>
    </div>
    <div class="col-2"></div>
    <div class="col-4">
        <div class ="card" style="widith: 18rem;">
            <div class="card-title">
                <h4>Make a payment</h4>
            </div>
            <div class="card-body">
                <p>Make a payment</p>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <div class ="card" style="widith: 18rem;">
            <div class="card-title">
                <h4>View Transactions</h4>
            </div>
            <div class="card-body">
                <p>Recent Transactions</p>
            </div>
        </div>
    </div>
</div>