<%= stylesheet_link_tag 'show' %>
<div class="user">
    <%= @user.first_name%> <%= @user.last_name%>
    <%= link_to "Open account", new_user_account_path(@user), class: "newact"%>
</div>
</br>
</br>
<div class="row">
    <div class="col-1"></div>
    <div class="col-4">
        <div class ="card" style="widith: 18rem;">
            <div class="card-title">
                <h4 class="title">Accounts</h4>
            </div>
            <% @accounts.each do |account| %>
                <div class="card-body">
                    <h5 class="actname"> <%= account.account_name%> </h5>
                    </br>
                    <h5 class="actbal"> Balance:  </h5> <h5 class="actbal2"><%= number_to_currency(account.balance, unit: "£")%></h5>
                    </br></br>
                    <h5 class="actno"> Account No: </h5> <h5 class="actno2"> <%= account.account_no %> </h5>
                    </br></br>
                    <h6 class="partition"> qwertqwertys </h6>
            </div>
            <% end %>
        </div>
    </div>
    <div class="col-2"></div>
    <div class="col-4">
        <div class ="card" style="widith: 18rem;">
            <div class="card-title">
                <h4>Make a payment</h4>
                <%=form_for @transaction, url: new_user_transaction_path(@user), method: :get  do |transaction|%>
                    <%=transaction.select(:sender_id, @accounts.collect {|a| [a.account_name, a.id]}, {}, required: true) %>
                    <%=transaction.submit%>
                <%end%>
            </div>
            <div class="card-body">
                
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <div class ="card" style="widith: 18rem;">
            <div class="card-title">
                <h4>View Transactions</h4>
            </div>
            <div class="card-body">
                <table id="transactionTable" class="table">
                    <thead>
                        <tr>
                            <th scope="col">From</th>
                            <th scope="col">To</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Reference</th>
                        </tr>
                    </thead>
                    <% @transactions.each do  |transaction|%>
                        <% if transaction.sender_name == @user.username%>
                            <tr>
                            <th scope="row"><%= @user.accounts.find(transaction.sender_id).account_name %></th>
                            <td><%= transaction.receiver_name%></th>
                            <td>Sent <%= number_to_currency(transaction.amount, unit: "£")%></th>
                            <td><%= transaction.reference%></th>
                            </tr>
                        <%end%>
                        <% if transaction.receiver_name == @user.username%>
                            <tr>
                            <th scope="row"><%= transaction.receiver_name%></th>
                            <td><%= @user.accounts.find(transaction.sender_id).account_name%></th>
                            <td> Received <%= number_to_currency(transaction.amount, unit: "£")%></th>
                            <td><%= transaction.reference%></th>
                            </tr>
                        <%end%>
                    <%end%>
                </table>
            </div>
        </div>
    </div>
</div>