<% stylesheet_link_tag 'new_transaction'%>
<div class="balance">Available Balance : <%= number_to_currency(@account.balance, unit: "£") %></div> 
<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <div class="mb-md-5 mt-md-4 pb-5">
                <h2 class="fw-bold mb-2 text-uppercase">Make a Payment</h2>
                <br>
                <%= form_for [@user, @transaction] do |transaction| %>
                    <div class="form-outline form-white mb-4">
                        <%= transaction.text_field :receiver_name, class:"form-control form-control-lg", required: true%>
                        <label class="form-label">Username </label>
                    </div>
                    <div class="form-outline form-white mb-4">
                        <%= transaction.select :receiver_act,["Savings ISA", "Current Account", "Bond"], {}, class:"form-control form-control-lg", required: true%>
                        <label class="form-label">Account </label>
                    </div>
                    <div class="form-outline form-white mb-4">
                        <%= transaction.number_field :amount, step: :any, class:"form-control form-control-lg", required: true%>
                        <label class="form-label">Amount (£) </label>
                    </div>
                    <div cass="form-outline form-white mb-4">
                        <%= transaction.text_field :reference, class:"form-control form-control-lg", required: true%>
                        <label class="form-label">Reference</label>
                    </div>
                      <%= transaction.hidden_field :sender_id, value: @account.id %>
                      <%= transaction.hidden_field :sender_name, value: @user.username %>
                    <%= transaction.submit "Complete Transaction", data: {confirm: "Are you sure?"}, class:"btn btn-outline-light btn-lg px-5" %>
                <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>