<%= stylesheet_link_tag 'new_account' %>
<div class="row d-flex">
  <div class="col-lg-6">
    <div class="card1 bg-light pb-5">
      <div class="row px-3"></div>
      <div class="row px-3 justify-content-center mt-4 mb-5"> <%= image_tag "pig_logo.svg"%> </div>
      <div class="inforow px-3 text-center justify-content-center">
            <h4>An account you can trust</h4> <small class="text-muted px-5 mx-1 mx-lg-5">Choose from a Savings ISA, Current Account or Bond, and set your balance in 2 quick steps</small>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="card2 card border-0 px-4 py-5">
        <h3 class="tl mb-1 align-center">Create your account</h3>
        <div class="row">
        </div>
        <%= form_for [@user, @account] do |account| %>
        <div class="row px-3">
            <div class="line"></div> <small class="text-muted or text-center"></small>
            <div class="line"></div>
        </div>
        <div class="row mt-3">
            <div class="act col-md-6 offset-3"> <label class="mb-0">
                    <h6 class="mb-0 text-sm">Account</h6>
                </label>  <%= account.select :account_name, ["Savings ISA", "Current Account", "Bond"], {}, class:"form-control form-control-lg", required: true%> </div>
        <div class="bal col-md-6 offset-3"> <label class="mb-0">
                <h6 class="bal mb-0 text-sm">Balance (£)</h6>
            </label> <%= account.number_field :balance, step: :any, class:"form-control form-control-lg", required: true%></div>
        <div class="row mb-4">
            <div class="col-md-5"> <button class="btn btn-blue text-center mb-1"><%= account.submit "Open Account", class:"btn btn-blue text-center mb-1" %></button> </div>
            <%end%>
            <div class="col-md-7"> <small class="text-muted">By creating an account, you understand and agree to our <u>Terms of Service</u>, including the <u>User Agreement</u> and <u>Privacy Policy</u>.</small></div>
        </div>
    </div>
</div>
</div>
</div>
